<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Update this User</title>
    </head>

    <body>
        <form th:method="PATCH" th:action="@{/users/{id}(id=${userShow.getId()})}" th:object="${userShow}">
            <table border="1">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Lastname</th>
                    <th>Age</th>
                    <th>Email</th>
                </tr>

                <tr>
                    <td><a th:text="${userShow.getId()}">id</a></td>
                    <td><input type="text" th:field="*{name}" id="name"/></td>
                    <td><input type="text" th:field="*{lastname}" id="lastname"/></td>
                    <td><input type="text" th:field="*{age}" id="age"/></td>
                    <td><input type="text" th:field="*{email}" id="email"/></td>
                </tr>
            </table>

            <input type="submit" value="Update!"/>
        </form>
    </body>
</html>